@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.custom-dashed-border {
  border: none;
  background-image: repeating-linear-gradient(to right, black 0%, black 50%, transparent 50%, transparent 100%),
                    repeating-linear-gradient(to bottom, black 0%, black 50%, transparent 50%, transparent 100%),
                    repeating-linear-gradient(to right, black 0%, black 50%, transparent 50%, transparent 100%),
                    repeating-linear-gradient(to bottom, black 0%, black 50%, transparent 50%, transparent 100%);
  background-position: top, right, bottom, left;
  background-size: 20px 2px, 2px 20px, 20px 2px, 2px 20px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  padding: 20px;
}